* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fcfcfc;
    font-family: sans-serif;
}

.topbar {
    padding: 5px;
    overflow: hidden;
    background-color: rgb(187, 24, 187);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.inner {
    margin-top: auto;
    margin-bottom: auto;
}

.inner h1{
    font-size: 2rem;
}

.inner a,
.inner button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.menu {
    float: left;
    overflow: hidden;
}

.menu .menubtn {
    font-size: 24px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.topbar a:hover,
.menu:hover .menubtn {
    background-color: red;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  
.menu:hover .menu-content {
    display: block;
}

.form-popup-bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    overflow-y: auto;
    z-index: 10000;
}

.form-popup-bg.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.form-container {
    background-color: #2d3638;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 40px;
    color: #fff;
}

.close-button {
    background: none;
    color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px #fff;
}

.form-popup-bg:before {
    content: '';
    background-color: #fff;
    opacity: .25;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

form {
    margin: 10% auto 0 auto;
    padding: 30px;
    width: 400px;
    height: auto;
    overflow: hidden;
    background: rgb(32, 32, 32);
    border-radius: 10px;
}

form label {
    font-size: 14px;
    color: darkgray;
    cursor: pointer;
}

form label,
form input {
    float: left;
    clear: both;
}

form input {
    margin: 15px 0;
    padding: 15px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 20px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

form input[type=text]:focus,
form input[type="password"]:focus {
    border-color: cornflowerblue;
}

.submit-button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.main {
    margin: 5%;
    padding: 5px;
}

.main h2 {
    text-align: center;
    margin-bottom: 5%;
}

/* Table */

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80vw;
    height: 30vh;
    margin: auto;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 1.5rem;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 1.5rem;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-yj5y {
    background-color: #efefef;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-c3ow {
    border-color: inherit;
    text-align: center;
    vertical-align: top
}


/* Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}


.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom p a {
    color: #ccc;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width: 500px) {
    .footer-bottom p {
        float: none;
    }

    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    .tg td  {
        font-size: 0.7rem;
    }
    .tg th{
        font-size: 0.7rem;
    }
    
}
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    
  }
.extras {
    margin-top: 25vh;
    padding: 5px;
}

.extras h1 {
    text-align: center;
    margin-bottom: 5%;
}